### This notebook utlizes the NBA API to query team and player statistics.

In [27]:
# load necessary libraries

In [28]:
import pandas as pd
import numpy as np
import sys
import re   #string manipulation and search
import requests # for web requests and APIs
import json 
import matplotlib.pyplot as plt # charting

In [29]:
# pip install nba_api - for installation

In [30]:
pd.set_option('display.max_columns',None) # so all columns are visible

In [31]:
from nba_api.stats.static import teams

In [32]:
nba_teams = teams.get_teams()

In [33]:
df = pd.DataFrame(nba_teams)

In [34]:
df.head()

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Georgia,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966

In [35]:
# query info for the golden state warriors

In [36]:
gsw = df[df["nickname"] == "Warriors"]

In [37]:
id_gsw=gsw[['id']].values[0][0]
# we now have an integer that can be used to request the Warriors information 
id_gsw

1610612744

In [38]:
# use league game finder to query games for GSW

In [39]:
from nba_api.stats.endpoints import leaguegamefinder

In [40]:
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=id_gsw) # can remove team_id since it is nullable

In [41]:
games = gamefinder.get_data_frames()[0]
games.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22023,1610612744,GSW,Golden State Warriors,0022300589,2024-04-02,GSW vs. DAL,W,242,104,41,90,0.456,15,32.0,0.469,7,7,1.000,11.0,41.0,52.0,29,9,4,17,18,4.0
1,22023,1610612744,GSW,Golden State Warriors,0022301085,2024-03-31,GSW @ SAS,W,241,117,45,92,0.489,16,39.0,0.410,11,13,0.846,12.0,29.0,41.0,34,15,3,15,14,4.0
2,22023,1610612744,GSW,Golden State Warriors,0022301062,2024-03-29,GSW @ CHA,W,240,115,48,89,0.539,11,32.0,0.344,8,9,0.889,11.0,39.0,50.0,35,7,5,12,19,18.0
3,22023,1610612744,GSW,Golden State Warriors,0022301049,2024-03-27,GSW @ ORL,W,241,101,40,90,0.444,10,34.0,0.294,11,13,0.846,12.0,40.0,52.0,26,5,5,12,18,8.0
4,22023,1610612744,GSW,Golden State Warriors,0022301044,2024-03-26,GSW @ MIA,W,243,113,47,85,0.553,13,38.0,0.342,6,10,0.600,7.0,36.0,43.0,31,6,5,10,20,21.0

In [42]:
# check all both home and away games between GSW and TOR and calculate score differential.

In [43]:
games_home=games[games['MATCHUP']=='GSW vs. TOR']
games_away=games[games['MATCHUP']=='GSW @ TOR']

In [44]:
games_home['PLUS_MINUS'].mean()

3.375

In [45]:
games_away['PLUS_MINUS'].mean()

-1.7212121212121212

### Author: Paul John Julongbayan